<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="botlist.css">
    
</head>
<body>
    <%- include('navbar.html')%>
    <div class="table-center">
        <table id="table">
            <tr>
              <th>VA name</th>
              <th>VA ID</th>
              <th>Chat</th>
              <th>View</th>
            </tr>
            
        </table>
    </div>

    <script src="botlist.js"></script>
</body>
</html>