<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat Bot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="chatbot.css" rel="stylesheet">
        <link rel="stylesheet" href="navbar.css">
    </head>
    <body>
        <%- include('navbar.html')%>
        <button class="chat-btn">
            <i class="material-icons">comment</i>
        </button>
        <div class="chat-popup">
            <div class="chat-area">

            </div>
            <div class="input-area">
                <input id="input-field" type="text" placeholder="Type answer or select from the box"/>
                <button class="submit"><i class="material-icons">send</i></button>
            </div>
        </div>

        <script src="chatbot.js"></script>
    </body>
</html>         