<!DOCTYPE html>
<html>
  <head>
    <title>FlowBot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://va.injurycloud.com/Content/assets/plugins/global/plugins.bundle.min.css" rel="stylesheet" />
    <link href="https://va.injurycloud.com/Content/style.bundle.min.css?v=1.0" rel="stylesheet" />
    <link href="https://va.injurycloud.com/content/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <script src="https://va.injurycloud.com/Content/assets/plugins/global/jquery-3.4.1.js"></script>
     <script src="https://va.injurycloud.com/Content/assets/plugins/global/plugins.bundle.min.js?v=2.0"></script>
    <script src="https://va.injurycloud.com/Content/assets/js/scripts.bundle.min.js?v=1.0"></script>
    <script src="https://va.injurycloud.com/Content/assets/plugins/custom/datatables/datatables.bundle.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="index.css"> 
    <link rel="stylesheet" href="navbar.css">   
    <script src="orgchart.js"></script>  
  </head>

  <body>
    
    <div style="position: relative; width: 100%">
      <div style="z-index: 100; position: absolute; width: 100%"><%- include('navbar.html')%></div>
      
      <div id="select-va" class="select-va">
        <h3>Select a Virtual Assessment</h3>
      </div>
      <div id="tree"></div>
      <div style="position: fixed; top: 15%; left: 20px;" id="current-bot"></div>
      <button id="save-btn" style="position: fixed; top: 15%; right: 20px;" class="btn btn-success">Save</button>
      <div style="position: absolute; top: 0" id="question-option"></div>
      <div id="remove-popup" class="remove-popup">
        <h4>Delete current child first</h4>
        <button id="remove-popup-btn" class="btn btn-danger">ok</button>
      </div>
      <div id="show-popup" class="show-popup">
        <div id="popup-menu"></div>
        <button id="popup-btn" class="btn btn-success">Ok</button>
      </div>
      <div id="success-msg" class="success-msg">
        <h4>Successfully saved....</h4>
      </div>

      

      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div id="modal-content" class="modal-content">
          <span class="close">&times;</span>
          <div class="auto-complete" style="text-align: center;">
            <input autocomplete="off" name="myCountry" id="search-bar" value="" placeholder="search..."/>
          </div>
          <div>
            <h4>
              Question
            </h4>
            <div id="question-box">  
            </div>
          </div>
        </div>
      </div>

      <div class="condition-modal">
        <div class="condition-modal-content">
          
        </div>
      </div>
    </div> 
    <script src="navbar.js"></script>
    <script src="index.js"></script>
  </body>
</html>